/* reglas
selectores
declaraciones
propiedades
valore */

body{
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px;
}

.header{
  border: 1px solid red;
  background: #00A099;
  color: white;
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.logo{
  margin:0
}

.logo figure{
  margin: 0;
}

.header-menu{
  display: flex;
  height: inherit;
}

.header ol, ul{
  display: flex;
  height: inherit;
}

ol,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header li{
  width: 100px;
  height: inherit;
}

.header a{
  display: flex;
  align-items: center;
  height: inherit;
  color: white;
  text-decoration: none;
}

.hero{
  border: 1px solid red;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin: 20px 0px;
}

h1,
h4{
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.hero div{
  flex-shrink: 0

}

#hero-menu{
  padding-left: 20px;
}

.hero nav{
  padding-left: 20px;
}

.hero a{
  text-decoration: none;
}

.hero-imageContainer{
  flex-shrink: 0;
  margin: 0;
}

.hero-review{
  padding-left: 160px;
}

.hero-recomendation{
  margin:0;
  padding-left: 160px;
  /* padding-top: 48px; */
}

.hero-description{
  width: 500px;
  height: 188px;
  margin:0
}

.analitics{
  border: 1px solid red;
  display: flex;
  margin: 20px 0px;
  align-items: center;
}

#analitics-menu{
  padding-left: 20px
}

.analitics nav{
  padding-left: 20px;
}

.analitics a{
  text-decoration: none;
}

.analitics-analitics{
  padding-left: 160px;
}

.hystory{
  border: 1px solid red;
  display: flex;
  margin: 20px 0px;
}

.hystory div{
  flex-shrink: 0
}

.hystory-hystory{
  padding-left: 228px;
}

.footer{
  border: 1px solid red;
  color: white;
  background-color: #3C3C3B;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px
}

.footer figure{
  margin: 0;
}
