/* reglas
selectores
declaraciones
propiedades
valore */

body{
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px;
}

h1,
h4{
  font-family: 'Oswald', sans-serif;
}

header{
  background: #00A099;
  color: white;
  display: flex;
}

header a{
  color: white;
  text-decoration: none;
}

header ol{
  display: flex;
}

header li{
  width: 100px
}


.logo{
  margin:0
}

.header-menu{
  display: flex;
  align-items: flex-end;
}

.hero{
  display: flex;
}

.hero div{
  flex-shrink: 0
}

.hero-imageContainer{

}

.hero-recomendation{
  margin:0;
}

.hero-review{
  /* padding-left: 100px */
}

.hero-description{
  /* width: 500px;
  height: 200px; */
  margin:0
}

.analitics{
  display: flex;
}

.analitics div{
  flex-shrink: 0
}

.hystory{
  display: flex;
}

.hystory div{
    flex-shrink: 0
}
